<div class="item" style="background-image: url(||image||)">

    <div class="container">

        <div class="row">

            <div class="col-sm-6">

                <div class="carousel-content centered">

                    <h2 class="animation animated-item-1">||szoveg1||</h2>

                    <p class="animation animated-item-2">||szoveg2||</p>

                    <a class="btn btn-md animation animated-item-3" href="||href||">Learn More</a>

                </div>

            </div>

            <div class="col-sm-6 hidden-xs animation animated-item-4">

                <div class="centered">

                    <div class="embed-container">

                        <iframe width="720" height="515" src="||videosrc||" frameborder="0" allowfullscreen></iframe>



                    </div>

                </div>

            </div>

        </div>

    </div>

</div><!--/.item-->